div#regist-container {
    margin: 55px auto 0;
    width: 700px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 5px 15px rgb(128, 128, 128);
    padding: 0 27px;
}
div#regist-container>header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 25px;
}
div#regist-container>header h4 {
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
}

.form-group {
    margin-bottom: 25px;
    height: 34px;
}
.form-group label {
	width: 93px;
	text-align: right;
	margin-right: 12px;
	display: inline-block;
	font-weight: normal;
}
.form-control {
    display: inline-block;
    width: 290px;
    border-radius: 2px;
}
#detail-form-group {
	height: 80px;
}
#detail-form-group label {
    line-height: 34px;
    vertical-align: top;
}
#detail-form-group textarea {
	height: 80px;
	resize: none;
	overflow: auto;
}

span.input-tip {
    margin-left: 12px;
    font-size: 13px;
    color: #F4655F;
    line-height: 34px;
    display: none;
}
span.input-tip:before {
    content: 'â¤ ';
    color: #f4655f;
}
span#detail-tip {
    line-height: 28px;
    vertical-align: text-bottom;
    display: none;
}
span#detail-tip>span {
	color: #F4655F;
	padding: 0 3px;
	font-weight: bold;
}
span#detail-tip.normal-tip:before {
	content: '';
}

span.normal-tip {
    color: #333333;
    display: inline-block;
}
span.normal-tip:before {
	color: #333333;
}

form .form-group:nth-of-type(9) {
    height: 38px;
    line-height: 38px;
}
form .form-group:nth-of-type(9)>label {
	line-height: 38px;
	vertical-align: top;
}
.pics-container {
    width: 110px;
    height: 38px;
    position: relative;
    border: 1px solid #666666;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}
input#pics {
    width: 100%;
    height: 100%;
}
div#pics-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #ffffff;
    line-height: 38px;
    text-align: center;
}
span#pics-tip {
    line-height: 38px;
    vertical-align: top;
}
span#pics-tip:before {
    line-height: 38px;
    vertical-align: top;
}

div#regist-container footer {
    margin: 35px 0 0;
    height: 62px;
    text-align: center;
    border-top: 1px solid rgb(204, 204, 204);
}
button {
    border: 1px solid #333333;
    width: 100px;
    height: 38px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 12px;
}

form#form-goodEdit .form-group:nth-of-type(8) {
    height: 38px;
    line-height: 38px;
}
form#form-goodEdit .form-group:nth-of-type(8)>label {
    line-height: 38px;
    vertical-align: top;
}