div#regist-container {
    margin: 55px auto 0;
    width: 700px;
    height: 740px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 5px 15px rgb(128, 128, 128);
    background-color: #ffffff;
}


div#regist-container>header {
    height: 60px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
div#regist-container header>h4 {
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-left: 42px;
}


div#regist-container>form {
    padding: 30px 18px 0 42px;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    background-color: #F8F8F8;
    width: 300px;
    height: 45px;
    border: none;
    box-shadow: none;
    display: inline-block;
    border-radius: 0px;
    padding: 0 15px;
    line-height: 45px;
}
.form-control:focus {
	background-color: #ffffff;
}
span.input-tip {
    margin-left: 10px;
    color: #F4655F;
    font-size: 13px;
    display: none;
}
span.input-tip:before {
    content: 'â¤ ';
    color: #F4655F;
}

form .form-group:nth-of-type(9) {
    height: 38px;
    line-height: 38px;
}
.pic-container {
    width: 110px;
    height: 38px;
    position: relative;
    border: 1px solid #666666;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}
input#pic {
    width: 100%;
    height: 100%;
}
div#pic-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #ffffff;
    line-height: 38px;
    text-align: center;
}
span#pic-tip {
    line-height: 38px;
    vertical-align: top;
    display: inline-block;
}
span#pic-tip.normal-tip {
	color: #333;
	display: inline-block;
}
span#pic-tip.normal-tip:before {
	color: #333;
}


div#regist-container>footer {
    border-top: 1px solid rgb(204, 204, 204);
    margin: 31px 0 0;
    height: 60px;
    text-align: right;
}
#regist-btn {
    width: 100px;
    height: 38px;
    margin-right: 25px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    background-color: #F4655F;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 11px;
}