extends ../layout

block append style
	link(rel="stylesheet", href="/css/goodEdit.css")

block content
	div#regist-container
		header
			h4 商品发布
		form
			.form-group
				label(for="goodName") 商品名
				input.form-control#goodName(name="goodName" type="text"  placeholder="请输入您的商品名，不能为空")
				span.input-tip#goodName-tip 商品名不能为空
			.form-group
				label(for="tradeMode") 交易方式
				select.form-control#tradeMode(name="tradeMode")
					option 当面交易
					option 邮寄交易
			.form-group
				label(for="degree") 新旧程度
				select.form-control#degree(name="degree")
					option 全新
					option(selected="selected") 九成新
					option 八成新
					option 七成新
					option 六成新
					option 五成新
					option 比较旧
			.form-group
				label(for="price") 价格
				input.form-control#price(name="price" type="text"  placeholder="以RMB为单位，只能输入数值")
				span.input-tip#price-tip 价格不能为空
			.form-group
				label(for="paymentWay") 付款方式
				select.form-control#paymentWay(name="paymentWay")
					option 现金交易
					option 银行转账
					option 微信交易
					option 支付宝交易
					option 任意方式
			.form-group
				label(for="tradeTime") 交易有效时间
				select.form-control#tradeTime(name="tradeTime")
					option 三天内
					option 一周内
					option 一个月内
					option 三个月内
					option 一年内
					option 时间不限
			.form-group#detail-form-group
				label(for="detail") 商品描述
				textarea.form-control#detail(name="detail")
				span.input-tip#detail-tip.normal-tip 还可以输入<span>200</span>字
			.form-group
				label(for="tradeStatus") 交易状态
				select.form-control#tradeStatus(name="tradeStatus")
					option 正常交易
					option 交易成功
					option 已下线
			.form-group
				label(for="pics") 商品图片
				.pics-container
					input.form-control#pics(name="pics" type="file")
					#pics-text 添加图片
				span.input-tip#pics-tip.normal-tip 需添加1-5张图片，用于更好展示商品
		footer
			button#regist-btn 发布商品

