extends ../layout

block append style
	link(rel="stylesheet", href="/css/goodDetail.css")

block content
	.container
		.block1
			.pic-block
				.display-block
					img(src="/img/test/1.jpg")
				ul.pic-list
					li
						img(src="/img/test/1.jpg")
					li
						img(src="/img/test/2.jpg")
					li
						img(src="/img/test/3.jpg")
					li
						img(src="/img/test/4.jpg")
					li
						img(src="/img/test/5.jpg")
			.content-block
				h5 可爱茶杯犬
				span.collect-tip ❤ 24人收藏该商品
				span.info 价格：<span>¥9999.99</span>
				span.info 交易方式：当面交易
				span.info 交易状态：正常交易
				span.info 新旧程度：九成新
				span.info 付款方式：现金交易
				span.info 商品有效时间：2016-10-20 至 2016-10-30
				button.btn 联系卖家
				button.btn 收藏
		.block2
			ul.nav-list
				li 商品信息
				li.active 留言<span>（0）</span>
			.content.content1
				.sender-info
					h5 发布者信息
					span 手机长号：18814127643
					span 手机短号：677643
					span QQ号：846891770
					span 微信号：JennyLin_77
					.sender
						img(src="/img/test/1.jpg")
						span JennyLin77
				.good-desc
					h5 商品描述
					p 也称茶杯贵宾犬，贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸，也称茶杯贵宾犬，贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸，也称茶杯贵宾犬，贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸，也称茶杯贵宾犬，贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸...
				.good-pic
					h5 商品图片
					ul.img-list
						li
							img(src="/img/test/1.jpg")
						li
							img(src="/img/test/2.jpg")
						li
							img(src="/img/test/3.jpg")
						li
							img(src="/img/test/4.jpg")
						li
							img(src="/img/test/5.jpg")
			.content.content2
				.comment-block
					textarea(placeholder="写下你的留言......")
					span 还可以输入<span class="textNum">100</span>字
					button.btn 留言
				ul.comment-list
					li.comment-item
						.comment
							img(src="/img/test/1.jpg")
							.text-div
								h6 七七ing
								span.time 2016-11-30 00:00:00
								p 贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸，也称茶杯贵宾犬
								a(href="javascript:;") 收起回复
							.comment-block
								textarea(placeholder="写下你的回复......")
								span 还可以输入<span class="textNum">100</span>字
								button.btn 回复
					li.comment-item
						.comment
							img(src="/img/test/1.jpg")
							.text-div
								h6 七七ing
								span.time 2016-11-30 00:00:00
								p 贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸，也称茶杯贵宾犬
								a(href="javascript:;") 回复
							.comment-block
								textarea(placeholder="写下你的回复......")
								span 还可以输入<span class="textNum">100</span>字
								button.btn 回复
							ul.subcomment-list
								li.subcomment-item.comment
									img(src="/img/test/1.jpg")
									.text-div
										h6 七七ing
										span.time 2016-11-30 00:00:00
										p 贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸，也称茶杯贵宾犬
	include ../includes/message





	