extends ../layout

block append style
	link(rel='stylesheet', href='/css/infoCommon.css')
	link(rel='stylesheet', href='/css/publishGood.css')

block content
	.container
		.leftBar
			ul.nav-list
				li.nav
					a(href="/users/info") 个人信息
				li.nav
					a(href="/users/inbox") 收件箱（<span>5</span>）
				li.nav
					a(href="/users/sendbox") 已发送消息
				li.nav.active
					a(href="/users/publishGood") 发布商品
				li.nav
					a(href="/users/collectGood") 收藏商品
				li.nav
					a(href="/users/commentGood") 留言商品
		.content-block
			.title-div 
				h5 个人中心 ＞ 发布商品
			ul.good-list
				li.good-item
					img(src="/img/good.jpg")
					.good-info
						h6 可爱茶杯犬
						p 也称茶杯贵宾犬，贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸...
						span 价格：8888.00
						span 状态：交易正常
						span 发布时间：2016-12-30
					footer
						ul.footer-list
							li.footer-item
								a(href="#") 查看
							li.footer-item
								a(href="#") 修改
							li.footer-item
								a(href="#") 删除
				li.good-item
					img(src="/img/good.jpg")
					.good-info
						h6 可爱茶杯犬
						p 也称茶杯贵宾犬，贵妇犬，卷毛犬。起源于美国，是一种宠物犬。体型在8英寸...
						span 价格：8888.00
						span 状态：交易正常
						span 发布时间：2016-12-30
					footer
						ul.footer-list
							li.footer-item
								a(href="#") 查看
							li.footer-item
								a(href="#") 修改
							li.footer-item
								a(href="#") 删除


	.publish-div
		a(href="/goodEdit") 发布商品


block append script

