extends ../layout

block append style
	link(rel='stylesheet', href='/css/regist.css')

block content
	div#regist-container
		header
			h4 注册
		form#regist-form
			.form-group
				input.form-control#username(name="username" type="text"  placeholder="请输入用户名（必填项）")
				span.input-tip#username-tip 用户名已被注册，请换一个试试吧
			.form-group
				input.form-control#password1(name="password1" type="password"  placeholder="请输入密码（必填项）")
				span.input-tip#password1-tip 密码必须由6-10位英文和数字组成，不能包含其它字符
			.form-group
				input.form-control#password2(name="password2" type="password"  placeholder="请再次输入密码（必填项）")
				span.input-tip#password2-tip 两次密码输入不一致
			.form-group
				input.form-control#addr(name="addr" type="text"  placeholder="请输入当前住址，尽量详细（必填项）")
				span.input-tip#addr-tip 当前住址不能为空
			.form-group
				input.form-control#lPhone(name="lPhone" type="text"  placeholder="请输入手机长号（必填项）")
				span.input-tip#lPhone-tip 手机长号不能为空
			.form-group
				input.form-control#sPhone(name="sPhone" type="text"  placeholder="请输入手机短号")
			.form-group
				input.form-control#wechat(name="wechat" type="text"  placeholder="请输入微信号")
			.form-group
				input.form-control#qq(name="qq" type="text"  placeholder="请输入QQ号")
			footer
				button(type="submit")#regist-btn.disabled 立即注册

block append script
	script(src="/js/jquery.min.js")
	script(src="/js/regist.js")

		